*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,body,main{
    height: 100%;
}

main{
    display: table;
    width: 100%;
}

#cargador{
    width: 100%;
    height: calc(100%);
    display: table-cell;
    vertical-align: middle;
}

#loader {
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: spin 2s linear infinite;
    margin: auto;
    padding: 15px 25px 25px;
    background-color: #d9eec3;
}

#loader2 {
    border-bottom: 8px solid #3498db;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 3s linear infinite;
    background-color: lightgoldenrodyellow;
    padding: 30px 30px 22px;
}

#loader3 {
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    background-color: #dbd7ee;
}

#contenido{
    display: static;
    height: calc(100%);
}

img{
    width: 100%;
    height: calc(100%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
